<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="icon" href="/Images/logoAP.png" type="image/x-icon" />
    <title>Detalles de vehículo</title>
    <!-- Agregar enlace a Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
      body {
        font-family: Arial, sans-serif;
      }
      .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
      }
      h1 {
        margin-bottom: 20px;
        color:white;
      }
      form {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 5px;
      }

      .form-group {
        margin-bottom: 20px; /* Add margin between form groups */
      }

      label {
        font-weight: bold;
      }
      input[type="checkbox"] {
        margin-right: 10px;
      }
      input[type="text"],
      textarea {
        width: 100%;
        padding: 5px;
        margin: 5px 0;
        border: 1px solid #ccc;
        border-radius: 3px;
      }
      button[type="submit"] {
        background-color: #1464c3;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
      }

      .back {
      color: white;
      text-align: right;
      position: absolute;
      top: 10px;
      left: 20px;
      font-size: 2.5vh;
    }

    .back a{
      color: white;
    }

      
      
    </style>
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    
    <section class="vh-100" style="background-color: #1464c3;">
    <div class="back"> <a href="/inicio">Volver</a></div>
    <br>
    <div class="container">
      <h1 class="mt-4">Detalles de vehículo</h1>
      <form id='form' method='POST' action='/updateCar'>
        <div class="form-group">
          <label for="depType">Tipo de depósito:</label>
          <div class="input-field">
            <input type="checkbox" name="depType" value="1"> Tipo 1 (TOYOTA AYGO)
          <input type="checkbox" name="depType" value="2"> Tipo 2 (HYUNDAI I20)
          <input type="checkbox" name="depType" value="3"> Tipo 3 (RENAULT CLIO 900)
          <input type="checkbox" name="depType" value="4"> Tipo 4 (NISSAN JUKE)
          <input type="checkbox" name="depType" value="5"> Tipo 5 (VOLKSWAGEN CADDY MAXI)
            <!-- Add more options as needed -->
          </div>
        </div>
        
        <div class="form-group">
          <label for="trunkType">Tipo de maletero:</label>
          <div class="input-field">
            <input type="checkbox" name="trunkType" value="1"> Tipo 1 (HYUNDAI I20)
          <input type="checkbox" name="trunkType" value="2"> Tipo 2 (TOYOTA YARIS 1.3 A/A)
          <input type="checkbox" name="trunkType" value="3"> Tipo 3 (VOLKSWAGEN POLO 1.4)
          <input type="checkbox" name="trunkType" value="4"> Tipo 4 (SEAT IBIZA 1.4 A/A)
          <input type="checkbox" name="trunkType" value="5"> Tipo 5 (OPEL CORSA ESSENTIA)
          <input type="checkbox" name="trunkType" value="6"> Tipo 6 (RENAULT CLIO 900)
          <input type="checkbox" name="trunkType" value="7"> Tipo 7 (RENAULT CLIO SPORT TOURER)
          <input type="checkbox" name="trunkType" value="8"> Tipo 8 (RENAULT CAPTURE)
          <input type="checkbox" name="trunkType" value="9"> Tipo 9 (NISSAN JUKE)
          <input type="checkbox" name="trunkType" value="10"> Tipo 10 (RENAULT MEGANE SPORT TOURER)
          <input type="checkbox" name="trunkType" value="11"> Tipo 11 (CITROEN BERLINGO)
          <input type="checkbox" name="trunkType" value="12"> Tipo 12 (RENAULT CLIO HYBRIDO AUTOMATICO)
          <input type="checkbox" name="trunkType" value="13"> Tipo 13 (BMW AUTOMATICO)
          <input type="checkbox" name="trunkType" value="14"> Tipo 14 (VOLKSWAGEN CADDY MAXI)
          <input type="checkbox" name="trunkType" value="15"> Tipo 15 (BMW X2 AUTOMATICO)
            <!-- Add more options as needed -->
          </div>
        </div>
        
        <div class="form-group">
          <label for="revType">Tipo de marcha atrás:</label>
          <div class="input-field">
            <input type="checkbox" name="revType" value="1"> Tipo 1 (HYUNDAI I20)
          <input type="checkbox" name="revType" value="2"> Tipo 2 (NISSAN JUKE)
          <input type="checkbox" name="revType" value="3"> Tipo 3 (SEAT IBIZA 1.4 A/A)
          <input type="checkbox" name="revType" value="4"> Tipo 4 (RENAULT CLIO HYBRIDO AUTOMATICO)
          <input type="checkbox" name="revType" value="5"> Tipo 5 (BMW BMW 218D ACTIVE TOURER)
            <!-- Add more options as needed -->
          </div>
        </div>
  
        <div class="form-group">
          <label for="carImages">Imágenes del coche:</label>
          <div class="input-field">
            <input type="file" name="carImages" accept="image/*" multiple>
          </div>
        </div>
  
        <div class="form-group">
          <label for="notes">Notas:</label>
          <div class="input-field">
            <textarea name="notes" rows="4"></textarea>
          </div>
        </div>

        <div>
          <input type="hidden" name="id" id="id" class="input" value="<%= item._id %>"/>
          <input type="hidden" class="objectId" value="<%= item._id %>"> 
          <button type="submit" class="btn btn-primary mt-3" name="save-car" data-id="<%= item._id %>">Enviar</button>
        </div>
      </form>
      
    </div>

    <script>
      /*const detailsButtons = document.querySelector('[name="save-car"]');
      const form = document.getElementById("form");

      document.getElementById("form").addEventListener("submit", formSubmit);

      let formData;

      showAlert = function(mss) {
        confirm(mss);
        detailsButtons.removeAttribute("disabled");
        window.location.href = "/vehiculos";
      }

      function formSubmit(event) {
        var url = "/updateCar";
        var request = new XMLHttpRequest();
        request.open('POST', url, true);
        request.onload = function() { // request successful
        // we can use server response to our request now
          console.log(request.responseText);
          showAlert("Envíado con éxito");
        };
      
        request.onerror = function() {
          showAlert("An error occurred while updating the car.");
          // request failed
        };
      
        request.send(new FormData(event.target)).then((res) => showAlert("Envíado con éxito"))
        event.preventDefault();
      }*/

      const form = document.getElementById("form");
      const button = document.querySelector('[name="save-car"]');

      form.addEventListener("submit", submitForm);

      showAlert = function(mss) {
        confirm(mss);
        button.removeAttribute("disabled");
        window.location.href = "/vehiculos";
      }

      function submitForm(e) {
          button.setAttribute('disabled', '');
          const formData = new FormData(e.target);
          fetch("/updateCar", {
              method: 'POST',
              body: formData,
          })
              .then((res) => showAlert("Envíado con éxito"))
              .catch((err) => ("Error occured", err));
      }

    </script>

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMRqbRbXVlqA3jKqpI7oefyJnirxvOwB0"
    ></script>
    
    </section>
  </body>
</html>
